<!--   -->

<section class="main row " style="margin-top: 30px; margin-bottom: 50px;" ng-controller="userAuthentication">
    <div class="small-10 small-centered columns" style="background-color: white;">
        <div class="row" style="padding-top: 10px;">
            <div class="column" style="text-align: center">
                <h5>No account? Create an account or login</h5>
            </div>
            <hr>
        </div>



        <div class="row">
            <!-- Sign up -->
            <div class="column large-6">
                <div class="fieldset">
                    <h5>Sign Up</h5>
                    <div class="registration medium-12 large-12 medium-centered ">
                        <input type="text" placeholder="first name">
                        <input type="text" placeholder="last name">
                        <input type="email" placeholder="email">
                        <input type="password" placeholder="password">
                        <p class="help-text" id="passwordHelpText">Password must have 8 characters, a number and
                            uppercase
                            letter.</p>
                        Check box if room owner : <input type="checkbox">
                        <input class="button small-12" type="button" value="SIGN UP">
                    </div>
                </div>
            </div>

            <!-- Login -->
            <div class="large-6 columns">
                <div class="fieldset">
                    <h5>Login</h5>
                    <div class="registration medium-12 large-12 medium-centered">
                        <input type="email" placeholder="email here">
                        <input type="password" placeholder="password here">
                        <input class="button small-12" type="button" value="LOGIN">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--    -->