<!--   -->
<section class="main row " style="margin-top: 30px; margin-bottom: 50px;" ng-controller="userAuthentication">

    <div class="small-10 small-centered columns shadow" style="background-color: white;">
        <div class="row" style="padding-top: 10px;">
            <div class="column" style="text-align: center">
                <h5>No account? Create an account or login</h5>
            </div>
            <hr>
        </div> <!-- END -->

        <!-- SIGN UP FORM  -->
        <section class="row">
            <div class="column large-6">
                <form class="fieldset" name="userForm" ng-submit="signUp()" novalidate>
                    <h5>Sign Up</h5>
                    <div class="registration medium-12 large-12 medium-centered ">
                        <input type="text" name="firstname" ng-model="signUpInfo.firstname" placeholder="First name"
                               ng-required="true">
                        <p class="validationError" ng-show="userForm.firstname.$invalid && userForm.firstname.$touched">
                            First name is required</p>

                        <input type="text" name="lastname" ng-model="signUpInfo.lastname" placeholder="Last name"
                               ng-required="true">
                        <p class="validationError" ng-show="userForm.lastname.$invalid && userForm.lastname.$touched">
                            Last name is required</p>

                        <input type="email" name="email" ng-model="signUpInfo.email" placeholder="Email"
                               ng-required="true">
                        <p class="validationError" ng-show="userForm.email.$invalid && userForm.email.$touched">Valid
                            email is required</p>

                        <input type="password" name="password" ng-model="signUpInfo.password" placeholder="Password"
                               ng-required="true">
                        <p class="validationError" ng-show="userForm.password.$invalid && userForm.password.$touched">
                            Password is required</p>

                        <p class="help-text" id="passwordHelpText">Password must have 8 characters, a number and
                            uppercase letter.</p>
                        Check box if room owner : <input type="checkbox" name="roomStatus"
                                                         ng-model="signUpInfo.roomStatus">
                        <button class="button small-12" type="submit" ng-disabled="userForm.$invalid">Sign up</button>
                    </div>
                </form> <!-- END OF FORM -->
            </div> <!-- END OF SIGN UP -->

            <!-- LOGIN FORM -->
            <div class="large-6 columns">
                <form class="fieldset" name="loginForm" ng-submit="login()" novalidate>
                    <h5>Login</h5>
                    <div class="registration medium-12 large-12 medium-centered">
                        <input type="email" name="email" ng-model="loginInfo.email" placeholder="Email"
                               ng-required="true">
                        <p class="validationError" ng-show="loginForm.email.$invalid && loginForm.email.$touched">
                            Valid email is required</p>
                        <input type="password" name="password" ng-model="loginInfo.password" placeholder="Password"
                               ng-required="true">
                        <p class="validationError" ng-show="loginForm.password.$invalid && loginForm.password.$touched">
                            Password is required</p>
                        <button class="button small-12" name="button" type="submit" ng-disabled="loginForm.$invalid">Login</button>
                    </div>
                </form> <!-- END OF FORM -->
            </div> <!-- END -->
        </section>
    </div>
</section>

<!--   END  -->