<!doctype html>
<!-- Roommate search application. The app is build to target students within smaller town -->

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Roomly | Welcome</title>
    <link rel="stylesheet" href=" ../public/css/foundation.min.css">
    <link rel="stylesheet" href="../public/css/custom.css">
    <link rel="stylesheet" href="../public/css/inbox-css.css">
</head>

<body>

<!-- MENU TOP BAR -->
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><img style="width:50%;" src="../public/img/roomly-logo.png"></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Help?</a></li>
            <li><a href="#" data-open="signUpModal">Sign up</a></li>
            <li><a href="#" data-open="loginModal">Login</a>
        </ul>
    </div>
</div>

<!-- END OF TOP-MENU-BAR-->


<!------------------------------------------------------------------------------------------------------------>


<!-- Main -->
<main class="row">
    <!-- Tabs Menu -->
    <div class="main">
        <div class="row menu-centered inner-menu">
            <ul class="menu column">
                <li class=""><a href="#panel1">Profile</a></li>
                <li class=""><a href="#panel2">Apartment</a></li>
                <!--<li class="tab-title"><a href="#panel3">Inbox</a></li>-->
            </ul>
        </div>

        <!-- User details -->
        <div class="row profile tabs-content">
            <div class="column">
                <p>Profile edits</p>
            </div>
            <div id="panel1">
                <div class="large-3 columns">
                    <div class="thumbnail">
                        <img src="../public/img/users_profile_images/student-1.jpg">
                    </div>

                    <input type="text" placeholder="User name">
                    <input type="text" placeholder="First name">
                    <input type="text" placeholder="Last name">
                </div>

                <!-- Text Area (User preference) -->
                <div class="large-9 columns">
                    <label class="preference-title">Preference
                        <textarea placeholder="About you..." name="text" cols="30" rows="4"></textarea>
                    </label>

                    <label>Smoker
                        <select>
                            <option value="frequentSmoker">Frequently</option>
                            <option value="nonSmoker">None</option>
                            <option value="occasionalSmoker">Occasional</option>
                        </select>
                    </label>

                    <label>Hygiene
                        <select>
                            <option value="frequentSmoker">Neat</option>
                            <option value="nonSmoker">Somewhat</option>
                            <option value="occasionalSmoker">Occasional</option>
                        </select>
                    </label>

                    <label>Party
                        <select>
                            <option value="frequent">Frequently</option>
                            <option value="nonParty">None</option>
                            <option value="occParty">Occasional</option>
                        </select>
                    </label>

                    <label>Smoker
                        <select>
                            <option value="frequentSmoker">Frequently</option>
                            <option value="nonSmoker">None smoker</option>
                            <option value="occasionalSmoker">Occasional Smoker</option>
                        </select>
                    </label>
                </div>
            </div>
            <!-- End of user details -->


            <hr/>


            <!-- Apartment Details -->
            <div class="column" id="panel2">
                <!--<div class="row" style="padding-left: 15px;">-->
                <!--<div class="column">-->
                <!--<label>Apartment edits</label>-->
                <!--</div>-->
                <!--</div>-->
                <div class="large-3 columns">
                    <input type="text" placeholder="Apartment name">
                    <input type="number" placeholder="Lease term ">
                    <input type="number" placeholder="Lease price">
                    <input type="text" placeholder="Location ">
                </div>

                <div class="large-9 columns">
                    <label class="preference-title">Upload room images</label>
                    <div class="row small-up-2 large-up-4" role="region">
                        <div class="column">
                            <img class="thumbnail"
                                 src="../public/img/users_profile_images/room-images/recortada-Puro-Hotel-Puro-Hotel-Palma-Doble-standar-350x350.jpg">
                        </div>

                        <div class="column">
                            <img class="thumbnail"
                                 src="../public/img/users_profile_images/room-images/living-room.jpeg">
                        </div>
                        <div class="column">
                            <img class="thumbnail"
                                 src="../public/img/users_profile_images/room-images/living-room.jpeg">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<!-------------------------------------------------------------------------------------->

<!--    FOOTER  -->
<div id="footer" class=" allout large secondary ">
    <div class="row">
        <div class="large-4 columns">
            <p>Roomly.Space</p>
            <p>Your one stop shop for roommate and apartments is made easier. Try it today.</p>
        </div>

        <div class="large-3 large-offset-2 columns">
            <ul class="menu vertical">
                <li><a href="#">Careers</a></li>
                <li><a href="#">Our platform</a></li>
                <li><a href="#">How it works</a></li>
            </ul>
        </div>
        <div class="large-3 columns">
            <ul class="menu vertical">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="columns" style="text-align: center; font-size: small">
            <p>Roomly.Space &#169; 2016</p>
        </div>
    </div>
</div>

<!-- END OF FOOTER -->

<!----------------------------------------------------------------------------------------->


<script src="../public/js/vendor/jquery.min.js"></script>
<script src=../public/js/foundation.js></script>
<script src="../public/js/foundation/foundation.reveal.js"></script>
<script src="../public/js/foundation/foundation.orbit.js"></script>
<script src="../public/js/foundation/foundation.magellan.js"></script>
<script src="../public/js/foundation/foundation.dropdown.js"></script>

<script>

</script>
<script>
    $(document).foundation();
</script>
</body>

</html>