<!--<div class="row">-->
<!--<div class="small-10 small-centered columns" style="text-align: center">-->
<!--<a href="#authsignup" class="button">Click to sign in or create an account</a>-->
<!--</div>-->
<!--</div>-->

<!-- FEATURED DATA ON MAIN -->
<section class=" featured row small-up-2 large-up-4" role="region">

    <div class="column">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/student-2.jpg">

            <h5>John Plus</h5>
            <p>Looking for a space</p>
            <p>Price: $500</p>
            <p>Lease term: 1 years</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>

    <div class="column">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/apartment-1.jpg">
            <h5>Two bedroom</h5>
            <p>Casmo Apartment</p>
            <p>Price: $600</p>
            <p>Lease term: 2 years</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>
    <div class="column user">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/student-1.jpg">
            <h5>Nataliya</h5>
            <p>Looking for a roommate</p>
            <p>Price: $640</p>
            <p>Lease term: 3 months</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>
    <div class="column">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/apartment-2.jpg">
            <h5>Single bedroom</h5>
            <p>Casmo Apartment</p>
            <p>Price: $400</p>
            <p>Lease term: 2 years</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>
</section>

<!-- END OF FEATURED DATA AND MAIN -->


