<section id="footer" class=" allout large secondary ">
    <div class="row">
        <div class="large-4 columns">
            <p>Roomly.Space</p>
            <p>Your one stop shop for a roommate and or a room space has now been easier.</p>
        </div>
        <div class="large-3 large-offset-2 columns">
            <ul class="menu vertical">
                <li><a href="#">Careers</a></li>
                <li><a href="#">Our platform</a></li>
                <li><a href="#">How it works</a></li>
            </ul>
        </div>
        <div class="large-3 columns">
            <ul class="menu vertical">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="columns" style="text-align: center; font-size: small">
            <p>&#169; RoomlySpace&#0153;, Inc 2016 </p>
        </div>
    </div>
</section>