<!----------------------------------------------------------
  HELP SECTION THIS HELPS USER LEARN HOW TO NAVIGATE THE APP
------------------------------------------------------------>


<section class="main" ng-controller="helpController">
    <!-- User details -->
    <section class="row profile shadow">
        <!--
            Display something like this (Looking for a roommate or looking for room space) from the database
        -->
        <section class="column">
            <div class="top-bar-left">
                <ul class="menu" style="padding-bottom: 10px">
                    <li>Help on how to use the app?</li>
                    <!--  This data here changes ( USER CAN HAVE ROOM OR NOT HAVE A ROOM )-->
                </ul>
            </div>
        </section>
        <hr>

        <div class="column" style="text-align: center">
            <div>
                Coming soon.
            </div>
        </div>
    </section>
</section>