<!------------------------------------------------
  INBOX
------------------------------------------------------------>
<!-- Tabs Menu -->
<section ng-controller="messageController">
    <section ng-include="'views/sub-nav.html'"></section>
    <section class="main" style="margin-bottom: 100px;">
        <!-- User details -->
        <div class="row profile shadow">
            <div class="column">
                <h6>Inbox</h6>
            </div>
            <hr>

            <div class="column" style="padding: 10px; text-align: center">
                <div>
                    <!-- Display this from the data base-->
                    <h3>Sorry &#9785; <br> you do not have messages.</h3>

                </div>
            </div>

        </div>

    </section>
</section>






