<!-- START OF MAIN CONTENT-->

<div ng-controller="mainController">
    <!------ ORBIT OR CAROUSEL OR IMAGE SLIDER ----->
    <section class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <ul class="orbit-container">
            <!--<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;-->
            <!--</button>-->
            <!--<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>-->
            <!--<li class="orbit-slide is-active">-->
            <!--<img src="public/img/city-street.jpg">-->
            <!--</li>-->
            <li class="orbit-slide">
                <img class="resize" src="public/img/ideal-place.jpg">
            </li>
        </ul>

        <div class="caption">
            <h4>Find a roommate or a room space by searching below</h4>
            <div class="row">
                <div class="column ">
                    <div class="input-search">
                        <input class="search" type="text"
                               placeholder="Search for roommates and aparmtents by price, city, and school name...">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END OF ORBIT OR CAROUSEL OR IMAGE SLIDER -->

</div>
<div class="row">
    <div class="small-10 small-centered columns" style="text-align: center">
        <a href="#authsignup" class="button"> Don't have an account? Start here</a>
    </div>
</div>

<!-- FEATURED DATA ON MAIN -->
<section class=" featured row small-up-2 large-up-4" role="region">

    <div class="column">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/student-2.jpg">

            <h5>John Plus</h5>
            <p>Looking for a space</p>
            <p>Price: $500</p>
            <p>Lease term: 1 years</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>

    <div class="column">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/apartment-1.jpg">
            <h5>Two bedroom</h5>
            <p>Casmo Apartment</p>
            <p>Price: $600</p>
            <p>Lease term: 2 years</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>
    <div class="column user">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/student-1.jpg">
            <h5>Nataliya</h5>
            <p>Looking for a roommate</p>
            <p>Price: $640</p>
            <p>Lease term: 3 months</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>
    <div class="column">
        <div class="fieldset" style="background-color: white">
            <img class="thumbnail" src="public/img/users_profile_images/apartment-2.jpg">
            <h5>Single bedroom</h5>
            <p>Casmo Apartment</p>
            <p>Price: $400</p>
            <p>Lease term: 2 years</p>
            <a href="#" class="button expanded">Check it</a>
        </div>
    </div>
</section>

<!-- END OF FEATURED DATA AND MAIN -->


<!--    Modal -->
<section id="loginModal" class="reveal row" data-reveal="reveal">
    <div class="column" style="background-color: whitesmoke; padding: 10px;">
        <h5>Login</h5>
        <div class="registration medium-12 large-12 medium-centered ">
            <input type="email" placeholder="email here">
            <input type="password" placeholder="password here">
            <input class="button small-12" data-close aria-label="Close modal" type="button" value="LOGIN">
            Don't have an account? <a href="#" data-open="signUpModal">Click to sign up</a>
        </div>
    </div>
</section>

<section id="signUpModal" class="reveal row" data-reveal="reveal">
    <div class="column " style="background-color: whitesmoke; padding: 10px;">
        <h5>Sign Up</h5>
        <div class="registration medium-12 large-12 medium-centered ">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            <input type="email" placeholder="email">
            <input type="password" placeholder="Password">
            <p class="help-text" id="passwordHelpText">Password must have 8 characters, a number and uppercase
                letter.</p>
            Check box if room owner: <input type="checkbox">
            <input class="button small-12" data-close aria-label="Close modal" type="button" value="SIGN UP">
        </div>
    </div>

</section>


<!-- END OF MODAL -->

