 <!--MENU TOP BAR-->
<section class="top-bar" data-topbar role="navigation">
    <div class="row">
        <div class="top-bar-left">
            <a href="#"><img style="width:100px; padding: 5px;" src="public/img/roomly-logo.png"></a>
        </div>

        <div class="top-bar-right">
            <ul class="menu">
                <li><a ng-href="#help">Help</a></li>
                <li><a ng-href="#authsignup">Account</a></li>
            </ul>
        </div>
    </div>
</section> <!-- END OF TOP-MENU-BAR-->