<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../public/css/foundation.css"/>
    <link rel="stylesheet" href="../public/css/custom.css"/>
    <script src="../public/js/vendor/modernizr.js"></script>
</head>
<body>
<!-- Registeration -->

<div class="row" data-reveal-id="firstModal">
     <div class="columns" id="registration">
     	<div class="registration medium-9 large-7 medium-centered ">
                <input type="text" placeholder="First name">
                <input type="text" placeholder="Last name">
                <input type="email" placeholder="email">
                <input type="password" placeholder="Password">
                <input type="button" class="button small-12" value="Submit">
         </div>       
      </div>
</div>

<script src="../public/js/vendor/jquery.js"></script>
<script src="../public/js/foundation.min.js"></script>
<script src="../public/js/foundation/foundation.magellan.js"></script>
<script src="../public/js/foundation/foundation.reveal.js"></script>
<script src="../public/js/foundation/foundation.orbit.js"></script>
<script src="../public/js/foundation/foundation.dropdown.js"></script>

<script>
    $(document).foundation();

</script>
</body>
</html>