<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../public/css/foundation.css"/>
    <link rel="stylesheet" href="../public/css/custom.css"/>
    <script src="../public/js/vendor/modernizr.js"></script>
</head>
<body>


<nav class="top-bar hide-for-small" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1>
                <a href="tests.html">
                    <!--<img class="roomly_logo" src="">-->
                    <span>RoomlySpace</span>
                </a>
            </h1>
        </li>
    </ul>
</nav>

<div class="main">
    <div id="sub-main">
        <div class="columns columnsGettingStarted">
            <h3>Getting Started</h3>
        </div>

        <div class="columns">
            <ul class="inline-list" id=" " data-tabs>
                <li class="tab-title is-active"><a href="#panel1v" aria-selected="true">User-details</a></li>
                <li class="tab-title"><a href="#panel2v">Apartment-details</a></li>
                <li class="tab-title"><a href="#panel3v">Messages</a></li>
            </ul>
        </div>

        <div class="tabs-content">
            <div class="content active" id="panel1v">
                <div class="large-4 columns">
                    <input type="text" placeholder="Apartment name">
                    <input type="number" placeholder="Lease term (1yr)">
                    <input type="number" placeholder="Lease price ($500.00)">
                    <input type="text" placeholder="Location (Ellensburg, WA)">
                </div>

                <div id="textAre" class="large-8 columns">
                    <label class="preference-title">User-Preference</label>
                    <textarea placeholder="About you..." name="text" id="" cols="30" rows="12"></textarea>
                </div>


                <div class="columns" style="margin-top: 40px">
                    <label class="upload-image-title">Photos <span class="badge">6</span></label>
                </div>

                <div class="columns">
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                </div>
            </div>


            <div class="content" id="panel2v">
                <p>Test</p>
                <div class="columns">
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                    <div class="large-2 column">
                        <img src="http://placehold.it/350x350" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../public/js/vendor/jquery.js"></script>
<script src="../public/js/foundation.min.js"></script>
<script src="../public/js/foundation/foundation.magellan.js"></script>

<script>
    $(document).foundation();

</script>


</body>
</html>
