<!doctype html>
<!-- Roommate search application. The app is build to target students within smaller town -->

<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Roomly | Welcome</title>
    <link rel="stylesheet" href="../public/foundation-6-2/css/foundation.min.css">
    <link rel="stylesheet" href="../public/foundation-6-2/css/custom.css">
    <link rel="stylesheet" href="../public/foundation-6-2/css/inbox-css.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Playfair+Display|Crete+Round' rel='stylesheet' type='text/css'></head>

</head>

<body>

<!-- MENU TOP BAR -->
<section class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><img style="width:50%;" src="../public/img/roomly-logo.png"></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">Help?</a></li>
            <li><a href="#" data-open="signUpModal">Sign up</a></li>
            <li><a href="#" data-open="loginModal">Login</a>
        </ul>
    </div>
</section>

<!-- END OF TOP-MENU-BAR-->


<!------------------------------------------------------------------------------------------------------------>

<!-- Tabs Menu -->
<section class="inner-menu">
    <div class="row">
        <ul class="menu button-group round even-4">
            <li class=""><a class="button" href="#user-profile">Profile</a></li>
            <li class=""><a class="button" href="#edit-user">Edit</a></li>
            <li class=""><a class="button" href="#inbox">Inbox</a></li>
            <!--<li class="tab-title"><a href="#panel3">Inbox</a></li>-->
        </ul>
    </div>
</section>



<section class="main row">
    <!-- User details -->
    <section class="row profile">
        <section class="column">
            <h6>Profile details</h6>
        </section>
        <hr/>

        <section id="panel1">
            <div class="large-3  columns">
                <div class="fieldset">
                    <img class="thumbnail" src="../public/img/users_profile_images/student-1.jpg">
                    <h6>Nataliya Jones</h6>
                    <h6>Looking for a roommate</h6> <!-- The values for this will be read from the database--->

                </div>
            </div>

            <!-- Text Area (User preference) -->
            <section class="large-9 columns">
                <section class="fieldset">
                    <h6>Preference</h6>
                    <hr/>

                    <div class="preference">
                        <p>
                            Non nulla arbitror probant, si elit ingeniis ingeniis. Mandaremus summis lorem
                            doctrina fore. Id laborum distinguantur eu offendit ita velit de noster ubi
                            doctrina est eu ipsum mentitum laboris est quo e legam occaecat do ab fore
                            varias eu pariatur e deserunt nisi iudicem, irure quo possumus. De singulis iis
                            mentitum, incididunt sunt commodo deserunt a doctrina o aute commodo ita se sunt
                            culpa nam arbitror. Ubi a noster esse illum. Nulla id singulis, ne si
                            cohaerescant. Ea eu quorum singulis, elit et arbitror ex eram.</p>
                    </div>
                </section>
                <hr/>
                <section class="row small-up-2 large-up-4" role="region">

                    <div class="small-up-1 column">
                        <h6>Personality</h6>
                        <!-- display data here. -->
                        <p>Quiet</p>
                    </div>

                    <div class="small-up-1 column">
                        <h6>Smoking</h6>
                        <!-- Display data here-->
                        <p>None</p>
                    </div>

                    <div class="small-up-1 column">
                        <h6>Tidiness</h6>
                        <!--Display data here -->
                        <p>Tidy</p>
                    </div>

                    <div class="small-up-1 column">
                        <h6>Partying</h6>
                        <!-- Display data here -->
                        <p>Don't care</p>
                    </div>

                    <div class="small-up-1 column">
                        <h6>Drinking</h6>
                        <!--Display data here-->
                        <p>Social drinker</p>
                    </div>
                </section>
            </section>
        </section>
    </section>
        <!-- End of user details -->


        <!-- IMPORTANT NOT ABOUT THIS SECTION

        Apartment Details

        When the user selects the check as having a room, the user
        will be able to to upload their room images on the app.

        Requirements for images are,
        Bedroom image
        Kitchen
        Living room and maybe the outside of the
        apartment or anything like swimming pool


        -->

    <section class="row profile">
            <section class="columns">
                <h6>Apartment details</h6>
            </section>
        <hr/>

        <section class="column" id="panel2">
            <section class="large-3 fieldset columns">
                <!-- Display data here-->
                <div class="apartment-data">
                    <h6>Apartment name here</h6>
                    <h6>Lease term here</h6>
                    <h6>Lease Price</h6>
                    <h6>Apartment location</h6>
                </div>
            </section>

            <section class="large-9 columns">
                <div class="row small-up-2 large-up-4" role="region">
                    <div class="column">
                        <img class="thumbnail"
                             src="../public/img/users_profile_images/room-images/recortada-Puro-Hotel-Puro-Hotel-Palma-Doble-standar-350x350.jpg">
                    </div>

                    <div class="column">
                        <img class="thumbnail"
                             src="../public/img/users_profile_images/room-images/living-room.jpeg">
                    </div>
                    <div class="column">
                        <img class="thumbnail"
                             src="../public/img/users_profile_images/room-images/living-room.jpeg">
                    </div>

                    <div class="column">
                        <img class="thumbnail"
                             src="../public/img/users_profile_images/room-images/living-room.jpeg">
                    </div>
                </div>
            </section>

        </section>
    </section>
</section>


<!-------------------------------------------------------------------------------------->

<!--    FOOTER  -->
<section id="footer" class=" allout large secondary ">
    <div class="row">
        <div class="large-4 columns">
            <p>Roomly.Space</p>
            <p>Your one stop shop for a roommate and or a room space has now been easier.</p>
        </div>

        <div class="large-3 large-offset-2 columns">
            <ul class="menu vertical">
                <li><a href="#">Careers</a></li>
                <li><a href="#">Our platform</a></li>
                <li><a href="#">How it works</a></li>
            </ul>
        </div>

        <div class="large-3 columns">
            <ul class="menu vertical">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <div class="columns" style="text-align: center; font-size: small">
            <p>Roomly.Space &#169; 2016</p>
        </div>
    </div>
</section>

<!-- END OF FOOTER -->

<!----------------------------------------------------------------------------------------->


<script src="../public/foundation-6-2/js/vendor/jquery.min.js"></script>
<script src="../public/foundation-6-2/js/foundation.min.js"></script>

<script>

</script>
<script>
    $(document).foundation();
</script>
</body>

</html>